html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  color: #989898; }

body {
  font-size: 16px;
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
    -webkit-box-sizing--moz-box-sizing: border-box;
      -webkit-box-sizing--moz-box-sizing-box-sizing: border-box; }

a {
  text-decoration: none; }

html {
  font-size: 16px; }

div {
  -webkit-box-sizing: border-box;
    -webkit-box-sizing--moz-box-sizing: border-box;
      -webkit-box-sizing--moz-box-sizing--ms-box-sizing: border-box;
        -webkit-box-sizing--moz-box-sizing--ms-box-sizing--o-box-sizing: border-box;
          -webkit-box-sizing--moz-box-sizing--ms-box-sizing--o-box-sizing-box-sizing: border-box; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.wrepper {
  max-width: 960px;
  margin: 0 auto; }

.our-team {
  width: 100%;
  background: #f9f9f9; }

#footer {
  width: 100%;
  background-color: #222222;
  background-image: url(../../img/footer-img.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  background-size: contain; }

header {
  background-image: url(../../img/bgi-header.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

.menu {
  padding-top: 50px; }
  .menu a {
    font-size: 1rem;
    float: left;
    color: white;
    text-transform: uppercase; }
  .menu ul {
    float: right; }
  .menu li {
    display: inline-block;
    margin-left: 40px; }
    .menu li:first-child {
      margin: 0; }

.mob-icon {
  display: none;
  margin: 0 20px 0 0;
  float: right; }
  .mob-icon > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0; }

.titel-page {
  margin-top: 28%;
  margin-bottom: 10%;
  text-align: center;
  color: white; }
  .titel-page h3 {
    font-style: italic;
    font-size: 2.5rem;
    margin-bottom: 5%; }
  .titel-page h1 {
    font-weight: bold;
    font-size: 4.6875rem;
    margin-bottom: 5%;
    text-transform: uppercase; }
  .titel-page button {
    width: 25%;
    padding: 2.1% 0;
    font-size: 1.125rem;
    margin-bottom: 25%;
    background-color: #fed136;
    border: 1px solid #fed136;
    text-transform: uppercase;
    color: #fff; }

@media screen and (max-width: 770px) {
  .menu ul {
    display: none; }
  .mob-icon {
    display: block;
    cursor: pointer; } }

.wrepper > h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .8%; }

.wrepper > p {
  text-align: center;
  font-style: italic;
  margin-bottom: 3%; }

.service {
  width: 30.66667%;
  min-width: 200px;
  margin: 0 2% 10% 0;
  text-align: center; }
  .service--box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .service-description {
    text-align: center; }
    .service-description h4 {
      font-size: 1.125rem;
      font-weight: bold;
      margin: 4% 0; }

.content-project {
  background-color: #f7f7f7;
  width: 100%; }

.wrepper {
  box-sizing: border-box; }
  .wrepper h3 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10%; }
  .wrepper p {
    padding-bottom: 3%; }

.project {
  margin: 0 -1.5%;
  padding-bottom: 10%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .project--box {
    margin: 15px 1.5%;
    width: 30%;
    min-width: 280px;
    background-color: #fff; }
  .project--img {
    position: relative;
    width: 100%;
    min-height: 300px;
    overflow: hidden; }
    .project--img img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%, -50%);
        -webkit-transform--ms-transform: translate(-50%, -50%);
          -webkit-transform--ms-transform-transform: translate(-50%, -50%); }
  .project--title {
    padding: 7% 0; }
    .project--title > h4 {
      font-weight: bold;
      font-size: 1.125rem;
      text-align: center;
      margin-bottom: 1.8%; }
    .project--title > p {
      font-size: .875rem;
      text-align: center;
      font-style: italic;
      color: #737373; }

.wrepper h2 {
  margin: 10% 0 1%;
  font-weight: bold; }

.wrepper p {
  margin-bottom: 8%; }

.first {
  order: -1; }

.about-us {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .about-us--box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 10%; }
    .about-us--box:nth-child(2n) {
      margin-left: 43.2%; }
      .about-us--box:nth-child(2n) .about-us--text {
        text-align: left; }
  .about-us--text {
    text-align: right;
    width: 40%;
    min-width: 180px;
    margin-right: 7%; }
    .about-us--text h5, .about-us--text h6 {
      margin-bottom: 3%;
      font-weight: bold; }
    .about-us--text p {
      font-style: italic; }
  .about-us--img {
    position: relative; }
    .about-us--img img {
      width: 75%;
      height: auto; }

@media screen and (max-width: 780px) {
  .about-us--text {
    text-align: left; }
  .about-us--box {
    justify-content: center;
    margin: 20px 10%;
    width: 80%; }
    .about-us--box:nth-child(2n) {
      margin: 20px 10%; }
  .first {
    order: 5; } }

.wrepper h2 {
  padding-top: 12%; }

.about-team {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.person {
  margin-bottom: 10%; }
  .person--contacts {
    text-align: center; }
    .person--contacts h6 {
      font-size: 1rem;
      font-weight: bold; }
    .person--contacts p {
      margin-top: 5px;
      font-size: 0.875rem; }
    .person--contacts li {
      display: inline;
      margin: 0 4px; }
    .person--contacts i {
      color: #222222; }

.team-text {
  margin: 0 auto 10%;
  text-align: center;
  max-width: 550px; }

.logos {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .logos .logo {
    margin: 10px 10px;
    min-width: 180px;
    min-height: 40px; }

@media screen and (max-width: 910px) {
  .logos .logo {
    width: calc(35% - 10px); } }

.contact-us {
  margin: 0 -15px; }
  .contact-us .inputs {
    margin: 0 15px;
    width: calc(50% - 15px); }
  .contact-us textarea {
    font-weight: bold;
    padding-left: 10px;
    margin: 0 15px;
    width: calc(50% - 15px);
    height: 195px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding-top: 15px; }
  .contact-us button {
    margin: 30px auto 10%;
    text-transform: uppercase;
    background-color: #fed136;
    margin-left: calc(50% - 115px);
    width: 230px;
    height: 60px;
    font-size: 1.125rem;
    font-weight: bold;
    border: none;
    color: #fff; }

form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }

input {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 10px;
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 30px; }
  input:last-child {
    margin-bottom: 0; }

footer .wrepper {
  text-align: center; }
  footer .wrepper p {
    font-style: normal;
    font-size: .875rem;
    margin: 20px 0 0 0;
    color: #222222; }
  footer .wrepper ul {
    margin-bottom: 20px; }
  footer .wrepper li {
    display: inline-block; }
    footer .wrepper li div {
      color: #fff;
      text-align: center;
      box-sizing: border-box;
      padding-top: 8px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: #222222; }

@media screen and (max-width: 700px) {
  #footer {
    padding-top: -5%; }
  form {
    flex-wrap: wrap;
    justify-content: center; }
  .contact-us textarea {
    margin: 30px 0 0 15px;
    width: 50%; }
  footer .wrepper {
    text-align: center; } }
