html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  color: #989898; }

body {
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
    -webkit-box-sizing--moz-box-sizing: border-box;
      -webkit-box-sizing--moz-box-sizing-box-sizing: border-box; }

a {
  text-decoration: none; }

html {
  font-size: 16px; }

div {
  -webkit-box-sizing: border-box;
    -webkit-box-sizing--moz-box-sizing: border-box;
      -webkit-box-sizing--moz-box-sizing--ms-box-sizing: border-box;
        -webkit-box-sizing--moz-box-sizing--ms-box-sizing--o-box-sizing: border-box;
          -webkit-box-sizing--moz-box-sizing--ms-box-sizing--o-box-sizing-box-sizing: border-box; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.wrepper {
  max-width: 960px;
  margin: 0 auto; }

header {
  background-image: url(../../img/bgi-header.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

.menu {
  padding-top: 50px; }
  .menu a {
    font-size: 1rem;
    float: left;
    color: white;
    text-transform: uppercase; }
  .menu ul {
    float: right; }
  .menu li {
    display: inline-block;
    margin-left: 40px; }
    .menu li:first-child {
      margin: 0; }

.titel-page {
  margin-top: 28%;
  margin-bottom: 10%;
  text-align: center;
  color: white; }
  .titel-page h3 {
    font-style: italic;
    font-size: 2.5rem;
    margin-bottom: 5%; }
  .titel-page h1 {
    font-weight: bold;
    font-size: 4.6875rem;
    margin-bottom: 5%;
    text-transform: uppercase; }
  .titel-page button {
    width: 25%;
    padding: 2.1% 0;
    font-size: 1.125rem;
    margin-bottom: 25%;
    background-color: #fed136;
    border: 1px solid #fed136;
    text-transform: uppercase;
    color: #fff; }

.wrepper > h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .8%; }

.wrepper > p {
  text-align: center;
  font-style: italic;
  margin-bottom: 3%; }

.service {
  width: 30.66667%;
  margin: 0 2% 10% 0;
  display: inline-block;
  text-align: center; }
  .service:last-child {
    margin-right: 0; }
  .service-description {
    text-align: center; }
    .service-description h4 {
      font-size: 1.125rem;
      font-weight: bold;
      margin: 4% 0; }

.content-project {
  background-color: #f7f7f7; }

.wrepper {
  box-sizing: border-box; }
  .wrepper h3 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10%; }
  .wrepper p {
    padding-bottom: 3%; }

.project {
  margin: 0 -1.5%;
  padding-bottom: 10%; }
  .project--box {
    display: inline-block;
    margin: 15px 1.5%;
    width: 30%;
    background-color: #fff; }
  .project--img {
    position: relative;
    width: 100%;
    min-height: 300px;
    overflow: hidden; }
    .project--img img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%, -50%);
        -webkit-transform--ms-transform: translate(-50%, -50%);
          -webkit-transform--ms-transform-transform: translate(-50%, -50%); }
  .project--title {
    padding: 7% 0; }
    .project--title > h4 {
      font-weight: bold;
      font-size: 1.125rem;
      text-align: center;
      margin-bottom: 1.8%; }
    .project--title > p {
      font-size: .875rem;
      text-align: center;
      font-style: italic;
      color: #737373; }
