.wrepper
    h2
        margin: 10% 0 1%
        font-weight: bold
    p
        margin-bottom: 8%

.about-us
    &--box
        display: block
        width: 70%
        margin-left: 10%
        &:nth-child(2n)
            margin-left: 43.2%
            .about-us--text
                text-align: left
    &--text
        text-align: right   
        display: inline-block
        width: 40%
        margin-right: 7%
        h5,h6
            margin-bottom: 3%
            font-weight: bold
        p
            font-style: italic
        
    &--img
        display: inline-block
        img
            width: 75%
            height: auto
        
        
        
