header {
  background-image: url(../../img/bgi-header.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

.menu {
  padding-top: 50px; }
  .menu a {
    float: left;
    color: white;
    text-transform: uppercase; }
  .menu ul {
    float: right; }
  .menu li {
    display: inline-block;
    margin-left: 40px; }
    .menu li:first-child {
      margin: 0; }

.titel-page {
  margin-bottom: 10%;
  text-align: center;
  color: white; }
  .titel-page h3 {
    font-style: italic;
    font-size: 40px;
    margin-bottom: 5%; }
  .titel-page h1 {
    font-weight: bold;
    font-size: 75px;
    margin-bottom: 5%;
    text-transform: uppercase; }
  .titel-page button {
    width: 25%;
    padding: 2.1% 0;
    font-size: 18px;
    margin-bottom: 25%;
    background-color: #fed136;
    border: 1px solid #fed136;
    text-transform: uppercase;
    color: #fff; }

.wrepper > h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .8%; }

.wrepper > p {
  text-align: center;
  font-style: italic;
  margin-bottom: 3%; }

.service {
  width: 30.66667%;
  margin: 0 2% 10% 0;
  display: inline-block;
  text-align: center; }
  .service:last-child {
    margin-right: 0; }
  .service-description {
    text-align: center; }
    .service-description h4 {
      font-size: 18px;
      font-weight: bold;
      margin: 4% 0; }
